@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #d3d5d6;
}


.container {
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #07212c;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-section {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* 🔹 Ocultar os formulários por padrão */
}

h3 {
    color: #07212c;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #07212c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #06557c;
}
